<section id="features">
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-2xl text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          Meet the greatest of french engineering.
        </p>
        <!-- <p class="mt-4 text-lg max-w-xl mx-auto tracking-tight text-slate-500">
          If you could kick the person in the pants responsible for most of your trouble, you wouldn't sit for a month
        </p> -->
      </div>
    </div>
    <div>
      <ul
        role="list"
        class="grid max-w-2xl grid-cols-1 gap-6 mx-auto mt-16 sm:gap-8 lg:mt-20 lg:max-w-none lg:grid-cols-3"
      >
        <li>
          <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
            <li>
              <figure class="relative h-full p-6 bg-slate-100 rounded-3xl">
                <blockquote class="relative">
                  <p class="text-base text-slate-500">
                    Kemici joined us as an internship during the lockdown. He
                    quickly became one of our least useful members and managed
                    to get, god knows how, the prestigious position of CEO.
                  </p>
                </blockquote>
                <figcaption
                  class="relative flex items-center justify-between pt-6 mt-6 border-t border-white"
                >
                  <div>
                    <div
                      class="text-lg font-semibold leading-6 text-black font-display"
                    >
                      Kemici Cagnard
                    </div>
                    <div class="mt-1 text-sm text-slate-500">
                      Chief Executive Officer
                    </div>
                  </div>
                  <div class="overflow-hidden rounded-full bg-slate-50">
                    <img
                      alt=""
                      src="/kemici-cagnard.jpeg"
                      width="56"
                      height="56"
                      decoding="async"
                      data-nimg="future"
                      class="object-cover h-14 w-14"
                      loading="lazy"
                      style="color: transparent"
                    />
                  </div>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="relative h-full p-6 bg-slate-100 rounded-3xl">
                <blockquote class="relative">
                  <p class="text-base text-slate-500">
                    Do you know what is a good software engineer ? A lazy man,
                    bored with his own life with a working alarm, helping them
                    shipping features on time.
                  </p>
                </blockquote>
                <figcaption
                  class="relative flex items-center justify-between pt-6 mt-6 border-t border-white"
                >
                  <div>
                    <div
                      class="text-lg font-semibold leading-6 text-black font-display"
                    >
                      Heddi Brahiti
                    </div>
                    <div class="mt-1 text-sm text-slate-500">Developper</div>
                  </div>
                  <div class="overflow-hidden rounded-full bg-slate-50">
                    <img
                      alt=""
                      src="/heddi-brahiti.jpeg"
                      width="56"
                      height="56"
                      decoding="async"
                      data-nimg="future"
                      class="object-cover h-14 w-14"
                      loading="lazy"
                      style="color: transparent"
                    />
                  </div>
                </figcaption>
              </figure>
            </li>
          </ul>
        </li>
        <li>
          <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
            <li>
              <figure class="relative h-full p-6 bg-slate-100 rounded-3xl">
                <blockquote class="relative">
                  <p class="text-base text-slate-500">
                    Engineer that can't code, designer which cannot design :
                    Makes you the perfect product owner ! He has one famous
                    quote : Lorem ipsum dolor sit amet.
                  </p>
                </blockquote>
                <figcaption
                  class="relative flex items-center justify-between pt-6 mt-6 border-t border-white"
                >
                  <div>
                    <div
                      class="text-lg font-semibold leading-6 text-black font-display"
                    >
                      Guillaume Prigent
                    </div>
                    <div class="mt-1 text-sm text-slate-500">
                      Chief Product Officer
                    </div>
                  </div>
                  <div class="overflow-hidden rounded-full bg-slate-50">
                    <img
                      alt=""
                      src="/guillaume-prigent.jpeg"
                      width="56"
                      height="56"
                      decoding="async"
                      data-nimg="future"
                      class="object-cover h-14 w-14"
                      loading="lazy"
                      style="color: transparent"
                    />
                  </div>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="relative h-full p-6 bg-slate-100 rounded-3xl">
                <blockquote class="relative">
                  <p class="text-base text-slate-500">
                    I joined the team as web developer junior and my job within
                    the dev team is to help produce a product of quality and in
                    accordance with our user needs and their experience.
                  </p>
                </blockquote>
                <figcaption
                  class="relative flex items-center justify-between pt-6 mt-6 border-t border-white"
                >
                  <div>
                    <div
                      class="text-lg font-semibold leading-6 text-black font-display"
                    >
                      Vincent Zhu
                    </div>
                    <div class="mt-1 text-sm text-slate-500">Developper</div>
                  </div>
                  <div class="overflow-hidden rounded-full bg-slate-50">
                    <img
                      alt=""
                      src="/vincent-zhu.jpeg"
                      width="56"
                      height="56"
                      decoding="async"
                      data-nimg="future"
                      class="object-cover h-14 w-14"
                      loading="lazy"
                      style="color: transparent"
                    />
                  </div>
                </figcaption>
              </figure>
            </li>
          </ul>
        </li>
        <li>
          <ul role="list" class="flex flex-col gap-y-6 sm:gap-y-8">
            <li>
              <figure class="relative h-full p-6 bg-slate-100 rounded-3xl">
                <blockquote class="relative">
                  <p class="text-base text-slate-500">
                    Devops engineer who have hands. Respect the naming
                    convention, read documentation and everything will be fine.
                    Privacy is important. There is an impostor among us !
                  </p>
                </blockquote>
                <figcaption
                  class="relative flex items-center justify-between pt-6 mt-6 border-t border-white"
                >
                  <div>
                    <div
                      class="text-lg font-semibold leading-6 text-black font-display"
                    >
                      Ruben Barros Costa
                    </div>
                    <div class="mt-1 text-sm text-slate-500">
                      Chief Technical Officer
                    </div>
                  </div>
                  <div class="overflow-hidden rounded-full bg-slate-50">
                    <img
                      alt=""
                      src="/ruben-barros-costa.jpeg"
                      width="56"
                      height="56"
                      decoding="async"
                      data-nimg="future"
                      class="object-cover h-14 w-14"
                      loading="lazy"
                      style="color: transparent"
                    />
                  </div>
                </figcaption>
              </figure>
            </li>
            <li>
              <figure class="relative h-full p-6 bg-slate-100 rounded-3xl">
                <blockquote class="relative">
                  <p class="text-base text-slate-500">
                    Cloud Consultant and web developer, Etienne tries to assist
                    Ruben on the set up of the Cloud architecture and the
                    back-end development. Unfortunately, he's not good in either
                    of these tasks.
                  </p>
                </blockquote>
                <figcaption
                  class="relative flex items-center justify-between pt-6 mt-6 border-t border-white"
                >
                  <div>
                    <div
                      class="text-lg font-semibold leading-6 text-black font-display"
                    >
                      Etienne Secondini
                    </div>
                    <div class="mt-1 text-sm text-slate-500">Developper</div>
                  </div>
                  <div class="overflow-hidden rounded-full bg-slate-50">
                    <img
                      alt=""
                      src="/etienne-secondini.jpeg"
                      width="56"
                      height="56"
                      decoding="async"
                      data-nimg="future"
                      class="object-cover h-14 w-14"
                      loading="lazy"
                      style="color: transparent"
                    />
                  </div>
                </figcaption>
              </figure>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</section>
