<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 py-24 scroll-mt-12"
  >
    <div class="mx-auto max-w-3xl lg:text-center">
      <div>
        <p
          class="text-black font-extrabold lg:text-5xl text-4xl tracking-tighter"
        >
          Changelog
        </p>
        <p class="mt-4 text-lg max-w-xl tracking-tight text-slate-500 mx-auto">
          Discover our Roadmap & achievements !
        </p>
      </div>
    </div>
    <div class="mx-auto pt-12">
      <div
        class="mx-auto w-full gap-12 grid grid-cols-1 lg:gap-24 lg:grid-cols-3"
      >
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 flex-shrink-0"
            >
              👋
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            >
              Automatic Unsubscribe from Newletters
            </p>
          </div>
          <p class="text-slate-500 text-sm mt-4">
            You can unsubscribe from all these boring newsletters in 3 clicks.
            Come check it out !
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 flex-shrink-0"
            >
              🚀
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            >
              One click Emails Deletion
            </p>
          </div>
          <p class="text-slate-500 text-sm mt-4">
            Delere allows you to remove all your pointless emails in a flash.
            Available from your dashboard !
          </p>
        </div>
        <div>
          <div class="gap-3 lg:inline-flex lg:items-center">
            <div
              class="items-center justify-center text-accent-500 bg-slate-100 rounded-xl flex h-10 w-10 flex-shrink-0"
            >
              🎉
            </div>
            <p
              class="mt-4 text-lg font-semibold leading-6 text-black font-display lg:mt-0"
            >
              First Release
            </p>
          </div>
          <p class="text-slate-500 text-sm mt-4">
            Delere beta is now live, help us cleaning this ocean from all these
            pesky innumerable emails !
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
