<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 pb-24"
  >
    <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
      <h1 class="font-extrabold text-5xl text-black font-display">
        Politique de confidentialité
      </h1>
      <p class="mt-2 text-base leading-6 text-black">
        Dernière mise à jour : 19 Mars 2023.
      </p>
      <p class="mt-4 text-base leading-6 text-slate-500">
        Votre vie privée est notre priorité. Il est capital pour nous de
        respecter votre vie privée par le biais des différentes informations
        personnelles que nous collectons lors de l’usage de Delere.
      </p>
    </div>
    <div
      class="mx-auto max-w-[40rem] prose-base prose text-slate-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
    >
      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        1. Informations personnelles
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Les informations récoltées ont pour unique finalité l’utilisation du
          service Delere. Ces informations ne sont collectées qu’avec votre
          consentement, et nous vous informons des raisons pour lesquelles ces
          données sont collectées et à quelles fins elles sont utilisées.
        </p>
        <p>
          Les données récoltées restent stockées dans nos bases de données dans
          le cadre de l’utilisation du service. Ces données sont protégées et
          cryptées.
        </p>
        <p>
          Vous êtes libre de refuser nos requêtes de collecte d’information,
          néanmoins cela peut entraîner un blocage partiel ou total de
          l’utilisation de notre service.
        </p>
        <p>
          Toute connexion à notre service, incluant les identifiants, et le
          contenu de vos mails ne sont ni récupérés ni stockées dans nos bases
          de données.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        2. Le service Delere
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Dans le cadre de l'utilisation de notre service, visant à nettoyer les
          boîtes mails des différentes newsletters, spams, et mails
          indésirables, nous manipulons diverses données liées à ceux-ci.
        </p>
        <p>
          Par besoin de transparence totale avec les utilisateurs de Delere,
          voici à titre informatif les différentes données manipulées lors de
          l'utilisation du service, et ce, pour chaque fonctionnalité :
        </p>

        <p class="underline">Gestion des newsletters</p>
        <p>
          La gestion des newsletters comprend le scan automatique de votre boîte
          mail, nous recherchons dans les mails un champ spécifique qui confirme
          son appartenance à une newsletter. Le contenu de vos mails n'est pas
          consulté et n'est pas sauvegardé dans nos bases de données. Néanmoins,
          nous consultons l’expéditeur du mail ainsi que les mêtadata, qui
          contiennent les informations relatives au mail.
        </p>
        <p>
          L'utilisateur est seul à décider s'il souhaite se désabonner d'une
          newsletter, et est également le seul à même d'effectuer cette action.
        </p>
        <p>
          Le statut de la newsletter est le seul champ stocké dans nos bases, à
          savoir si le désabonnement a été effectué. Ce statut est également
          renseigné par l'utilisateur.
        </p>

        <p class="underline">Suppression automatique des mails</p>
        <p>
          La suppression automatique des mails est totalement configurable, de
          la fréquence de suppression à l'ancienneté du dernier mail à retirer.
          Nous vous informons également que ces mails sont déplacés dans la
          corbeille de votre boite mail, pour une durée de rétention variable
          selon votre service (généralement 30 jours). À la suite de quoi, la
          corbeille est vidée automatiquement. Il est possible pour
          l'utilisateur de retrouver un mail supprimé par inadvertance.
        </p>
        <p>
          Delere ne stocke aucune donnée personnelle si ce n’est votre adresse
          mail utilisateur.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        3. Rétention des données
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Seules les données nécessaires à l'utilisation de Delere sont stockées
          dans nos bases de données, à savoir l’adresse mail utilisateur. Les
          données liées à un utilisateur sont supprimées dès lors de la
          suppression de son compte.
        </p>
        <p>
          La suppression du compte utilisateur peut être initiée dans l’onglet
          ‘Profil’ et peut prendre jusqu’à 48h à partir du lancement de la
          demande de suppression.
        </p>
        <p>
          Conformément à notre politique et au règlement européen 2016/679 et de
          la Loi Informatique et Liberté (Loi 78-17 du 6 janvier 1978),
          l’utilisateur peut se prévaloir des droits suivants :
        </p>
        <ul class="flex flex-col gap-2 ml-6 list-disc">
          <li>
            Droit d’accès, de rectification et droit à l’effacement des données
            (posés respectivement aux articles 15, 16 et 17 du RGPD) ;
          </li>
          <li>Droit à la portabilité des données (article 20 du RGPD) ;</li>
          <li>
            Droit à la limitation (article 18 du RGPD) et à l’opposition du
            traitement des données (article 21 du RGPD) ;
          </li>
          <li>
            Droit de ne pas faire l’objet d’une décision fondée exclusivement
            sur un procédé automatisé ;
          </li>
          <li>Droit de déterminer le sort des données après la mort ;</li>
          <li>
            Droit de saisir l’autorité de contrôle compétente (article 77 du
            RGPD).
          </li>
        </ul>
        <p>
          Pour exercer vos droits, merci d’adresser votre mail à <span
            class="underline text-[#00AC9A]">contact.delere@gmail.com</span
          >.
        </p>
        <p>
          Consultez le site <a
            href="https://www.cnil.fr/"
            class="underline text-[#00AC9A]">cnil.fr</a
          > pour plus d’informations sur vos droits.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        4. Responsable du traitement
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <div class="flex flex-col gap-4">
          <h3 class="font-extrabold text-lg text-slate-700 font-display">
            4.1 - Hébergement des données
          </h3>
          <p>
            L’application Delere est hébergée par Amazon Web Services “AMAZON
            WEB SERVICES EMEA SARL”, domiciliée au 31 PL DES COROLLES, 92400
            COURBEVOIE.
          </p>
        </div>

        <div class="flex flex-col gap-4">
          <h3 class="font-extrabold text-lg text-slate-700 font-display">
            4.2 - Responsable du traitement
          </h3>
          <p>Les responsables de traitement des données sont :</p>
          <ul class="flex flex-col gap-2 ml-6 list-disc">
            <li>
              Guillaume PRIGENT - <span class="underline text-[#00AC9A]"
                >guillaume.prigent92@gmail.com</span
              >
            </li>
            <li>
              Ruben BARROS COSTA - <span class="underline text-[#00AC9A]"
                >ruben.barr08@gmail.com</span
              >
            </li>
            <li>
              Kémici CAGNARD - <span class="underline text-[#00AC9A]"
                >kemici.cagnard@outlook.com</span
              >
            </li>
            <li>
              Vincent ZHU - <span class="underline text-[#00AC9A]"
                >zhu.zhiwei.vincent@gmail.com</span
              >
            </li>
            <li>
              Etienne SECONDINI - <span class="underline text-[#00AC9A]"
                >etienne.secondini@hotmail.com</span
              >
            </li>
            <li>
              Heddi BRAHITI - <span class="underline text-[#00AC9A]"
                >heddi@brahiti.fr</span
              >
            </li>
          </ul>
        </div>

        <div class="flex flex-col gap-4">
          <h3 class="font-extrabold text-lg text-slate-700 font-display">
            4.3 - Délégué à la Protection des Données (DPO)
          </h3>
          <p>Le délégué à la Protection des Données est Guillaume PRIGENT.</p>
          <p>
            Contact : <span class="underline text-[#00AC9A]"
              >guillaume.prigent92@gmail.com</span
            >.
          </p>
        </div>

        <div class="flex flex-col gap-4">
          <h3 class="font-extrabold text-lg text-slate-700 font-display">
            4.4 - Cookies
          </h3>
          <p>
            Lors de l’authentification au service Delere, un cookie est généré
            par Cognito, le service d’authentification fourni par Amazon Web
            Services. Ce service n’est pas géré par Delere. En cas de
            réclamation, merci de nous adresser un mail à <span
              class="underline text-[#00AC9A]">contact.delere@gmail.com</span
            >.
          </p>
        </div>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        5. Mises à jour
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Nous tenons cette page à jour à mesure que notre service évolue. Nous
          vous invitons à la consulter régulièrement pour vous tenir informé des
          dernières informations concernant notre politique de confidentialité.
        </p>
        <p>
          La dernière version de notre politique de confidentialité date du
          19/03/2023.
        </p>
      </div>
    </div>
  </div>
</section>
