<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 pb-24"
  >
    <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
      <h1 class="font-extrabold text-5xl text-black font-display">
        Conditions Générales d'Utilisation
      </h1>
      <p class="mt-4 text-base leading-6 text-slate-500">
        Le présent contrat décrit les conditions d'utilisation de l’application
        et du site Delere (ci-après "Delere") permettant à l'utilisateur de
        gérer sa boîte mail, en supprimant ses newsletters et en automatisant la
        suppression de ses mails. L'utilisation de Delere implique l'acceptation
        entière des présentes conditions.
      </p>
    </div>
    <div
      class="mx-auto max-w-[40rem] prose-base prose text-slate-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
    >
      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        1. Objet
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere est mis à disposition de l'utilisateur pour la gestion de sa
          boîte mail. L'utilisateur s'engage à utiliser Delere conformément à la
          loi et aux présentes CGU.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        2. Définitions
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Les définitions suivantes permettent d’identifier les acteurs et
          termes nommés dans les points ci-après :
        </p>
        <ul class="flex flex-col gap-2 ml-6 list-disc">
          <li>
            “Delere” : Le nom du site et application permettant à l’utilisateur
            de gérer sa boite mail.
          </li>
          <li>
            “Utilisateur” : Toute personne utilisant Delere et s’étant inscrit
            au service proposé pour une ou plusieurs de ses adresses mails.
          </li>
        </ul>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        3. Accès au Site
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          L'accès à Delere est réservé aux personnes majeures et capables.
          L'utilisateur crée son compte liant à son adresse mail (Gmail).
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        4. Services proposés
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere propose comme fonctionnalité la gestion de sa boîte mail,
          notamment en supprimant des newsletters et en automatisant la
          suppression de certains mails. Ces fonctionnalités peuvent être
          soumises à des limitations techniques ou pratiques.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        5. Données personnelles
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere est amené à collecter et traiter des données personnelles de
          l'utilisateur. Ces données sont utilisées pour permettre à
          l'utilisateur d'utiliser les fonctionnalités de Delere. L'utilisateur
          dispose d'un droit d'accès, de rectification et de suppression de ses
          données personnelles.
        </p>
        <p>
          Pour plus d’informations, merci de vous référer à la Politique de
          Confidentialité.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        6. Propriété intellectuelle
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere est la propriété exclusive de Miaouuu Corp, qui en détient tous
          les droits de propriété intellectuelle. L'utilisateur s'engage à ne
          pas copier, reproduire, diffuser ou exploiter Delere ou ses éléments
          sans autorisation préalable.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        7. Responsabilité
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere ne saurait être tenu responsable en cas de dommage subi par
          l'utilisateur, notamment en cas d'interruption du service ou de perte
          de données. L'utilisateur est seul responsable de l'utilisation qu'il
          fait de Delere.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        8. Modification des CGU
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Les présentes CGU peuvent être modifiées à tout moment par Miaouuu
          Corp. Les nouvelles conditions seront applicables dès leur publication
          sur Delere.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        9. Loi applicable
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Les présentes CGU sont régies par le droit français. Tout litige
          relatif à l'utilisation de Delere sera soumis aux tribunaux
          compétents.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        10. Informations de Contact
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Pour toute requête liée à l’utilisation de Delere, merci de contacter
          l’adresse mail suivante : <span class="underline text-[#00AC9A]"
            >contact.delere@gmail.com</span
          >.
        </p>
      </div>
    </div>
  </div>
</section>
