<section>
  <div
    class="mx-auto w-full lg:px-24 max-w-7xl md:px-12 items-center px-8 pb-24"
  >
    <div class="relative mx-auto max-w-[40rem] pt-20 pb-24">
      <h1 class="font-extrabold text-5xl text-black font-display">
        Terms and Conditions of Use
      </h1>
      <p class="mt-4 text-base leading-6 text-slate-500">
        This contract describes the terms of use of Delere’s application and
        website (below-mentioned as “Delere”), which allows the user to manager
        their mailbox by deleting newsletters and automating the deletion of
        emails. The use of Delere implies the user’s full acceptance of these
        terms.
      </p>
    </div>
    <div
      class="mx-auto max-w-[40rem] prose-base prose text-slate-500 prose-h3:text-black prose-a:font-semibold prose-a:text-accent-300 hover:prose-a:text-black"
    >
      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        1. Purpose
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere is available to the user for the management of their inbox. The
          user agrees to use Delere in accordance with the law and these terms
          and conditions.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        2. Definitions
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          The following definitions identifies the actors and terms mentioned in
          the following sections :
        </p>
        <ul class="flex flex-col gap-2 ml-6 list-disc">
          <li>
            “Delere” : The name of the site and application that allows its user
            to manage their inbox.
          </li>
          <li>
            Any person using Delere and who has registered to the service, for
            one or more of their email addresses.
          </li>
        </ul>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        3. Access to the Site
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere’s access is reserved for adults who are capable of acting. The
          user creates their account by linking their email address (Gmail) to
          the app.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        4. Services offered
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere offers as a feature the management of the user’s mailbox, by
          deleting newsletters and automating the deletion of certain emails.
          These features may be subject to technical or practical limitations.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        5. Personnal Data
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere may collect and process the user’s personal data. This data is
          used to allow the user to employ Delere’s features. The user has the
          right to access, recity and delete their personal data.
        </p>
        <p>For more information, please refer to the Privacy Policy.</p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        6. Intellectual Property
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere is the exclusive property of Miaouuu Corp, which owns all
          property rights. The user agrees not to copy, reproduce, distribute or
          exploit Delere or its elements without prior authorisation.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        7. Responsabilité
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          Delere ne saurait être tenu responsable en cas de dommage subi par
          l'utilisateur, notamment en cas d'interruption du service ou de perte
          de données. L'utilisateur est seul responsable de l'utilisation qu'il
          fait de Delere. Modification des CGU Les présentes CGU peuvent être
          modifiées à tout moment par Miaouuu Corp. Les nouvelles conditions
          seront applicables dès leur publication sur Delere.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        8. Modification of the General Terms and Conditions of Use
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          These General Terms and Conditions of Use may be modified at any time
          by Miaouuu Corp. The new conditions will be applicable as they are
          published on Delere.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        9. Applicable law
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          These General Terms and Conditions of Use are ruled by French law. Any
          litigation relating to Delere’s use will be submitted to the competent
          courts.
        </p>
      </div>

      <h2 class="mb-6 font-extrabold text-2xl text-black font-display">
        10. Contact information
      </h2>
      <div class="flex flex-col gap-6 pb-24">
        <p>
          For any Delere’s related inquiries, please contact the following
          address : <span class="underline text-[#00AC9A]"
            >contact.delere@gmail.com</span
          >.
        </p>
      </div>
    </div>
  </div>
</section>
